{% comment %}
---
layout2: default
---
{% endcomment %}

<h3 class="align-center mb-4">Explore and discover packages</h3>

<section class="categories">

    {% for category in site.categories %}
    <section class="category">
        <h4 class="align-center">
            <a href="{{ site.baseurl }}/categories/{{ category.title | slugify }}/">
                {{ category.title }}
            </a>
        </h4>
        <p class="align-center lh-1">
            {{ category.description }}
        </p>
        <ul>
            {% for package in site.packages %}
            <li class="card">
                <a href="{{ site.baseurl }}{{ package.url }}" class="position-relative">
                    <span class="align-items-center mr-2">{% include package-icon.html icon=package.type %}</span>
                    <div>
                        <h3 class="text-md mb-1">{{ package.title }}</h3>
                        <p class="text-sm lh-1 m-0">{{ package.description }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
            <!-- li><a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ size | minus: 4 }} more...</a></li-->
        </ul>
    </section>
    {% endfor %}
</section>
