{% comment %}
---
layout2: default
---
{% endcomment %}

<h3 class="align-center">Explore and discover packages</h3>

<section class="categories">

    {% for category in site.categories %}
    <section class="category">
        <h4 class="align-center">
            <a href="{{ site.baseurl }}/categories/{{ category.title | slugify }}/">
                {{ category.title }}
            </a>
        </h4>
        <p>
            {{ category.description }}
        </p>
        <ul>
            {% for package in site.packages %}
            <li class="card">
                <a href="{{ site.baseurl }}{{ package.url }}">
                    {% include package-icon.html icon=package.type %}{{ package.title }}
                </a>
            </li>
            {% endfor %}
            <!-- li><a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ size | minus: 4 }} more...</a></li-->
        </ul>
    </section>
    {% endfor %}
</section>
