



{% include packages-assign.html %}
{% for package in packages %}
{% assign keywords = keywords | push: package.keywords | uniq %}
{% assign keywords = keywords | push: package.categories | uniq %}
{% assign keywords = keywords | push: package.category | uniq %}
{% assign keywords = keywords | push: package.tags | uniq %}
{% endfor %}
{% assign keywords = keywords | compact | sort %}
{% assign keywords_limit = site.keywords_sidebar_limit | default: 24 %}
{% assign keywords_limit = keywords_limit | plus: 0 %}

<strong>Keywords</strong>

{% assign _sp = site.pages | where: "url", "/search/" | first %}
{% unless _sp %}{% assign _sp = site.pages | where: "url", "/search.html" | first %}{% endunless %}
<ul{% unless _sp %} data-inline-filter="packages-list-items"{% endunless %}>
    {% for keyword in keywords %}
    <li{% if forloop.index > keywords_limit %} class="packages-sidebar__keyword-extra is-hidden"{% endif %}><a href="{{ site.baseurl }}/search/?q={{ keyword }}" data-keyword="{{ keyword }}">{{ keyword }}</a></li>
    {% endfor %}
</ul>
{% if keywords.size > keywords_limit %}
<a href="#" class="packages-sidebar__show-more" data-show-more="keywords">Show more...</a>
{% endif %}
