<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
<nav>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn" style="padding: 5px;">
		<strong>&#9998;</strong> Edit navigation
	</a>

	<!--
	{% for static_file in site.static_files %}
		{{ static_file.path }}
	{% endfor %}
	{{ site.github.repository_url }}
	-->

	{% if site.navigation %}
		{% assign navigation = site.navigation %}
	{% else %}
		{% assign navigation = "Get Started, Packages, Guides, Contribute" | split: ", " %}
	{% endif %}

	{% for item in navigation %}
		{% if item.link %}
			{% assign link = item.link %}
		{% elsif item == "Get Started" %}
			{% assign link = site.github.repository_url %}
		{% else %}
			{% assign link = item | slugify %}
		{% endif %}

		{% if item.name %}
			{% assign name = item.name %}
		{% else %}
			{% assign name = item %}
		{% endif %}

		{% assign class = "" %}
		{% if link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}

		<a href="{% include relative-src.html src=link %}" class="{{ class }}">{{ name }}</a>
	{% endfor %}
</nav>
