<section class="tutorial">
    <section class="sidebar sticky">
        <h2>Sidebar</h2>
        <ul>
            {% assign sub_navigation = content | extract_element: 'h2' %}
            {% for item in sub_navigation %}
            <li><a href="#{{ item.id }}">{{ item.text }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <section class="tutorial-content">
        <h1>{{ page.title }}</h1>

        <div class="tutorial-main">
            {{ content }}
        </div>

    </section>
</section>
