
.package-list {
  display: flex;

  .sidebar {
    display: none;
    padding: 0 0 0 20px;
    width: 200px;
    border-right: 1px solid #e2e2e2;

    @media #{$mid-point} {
      display: block;
    }
  }

  .package-list-content {
    flex: 1 0 auto;
    padding-left: 20px;
  }
}