.align-center {
  text-align: center !important;
}

.text-big {
  font-size: 10em;
}

.margin-0 {
  margin: 0 !important;
}

.margin-top-1 {
  margin-top: 0.5rem !important;
}

.margin-top-2 {
  margin-top: 1rem !important;
}

.margin-bottom-1 {
  margin-bottom: 0.5rem !important;
}

.margin-bottom-2 {
  margin-bottom: 1rem !important;
}