.keyword {
  cursor: default;
  color: #444;
  background: #efefef;
  font-size: 11px;
  border-radius: 3px;
  padding: 2px 6px;
  display: inline-block;
  margin: 2px 2px;
  white-space: nowrap;
  line-height: 1.5;
}

a.keyword {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: #ddd;
    color: #111;
  }
}
