---
---

$primary-color: unquote("{{ site.primary_color }}");

div.cavallo {
  content: $primary-color;
  color: #100;
  background: $primary-color top;
}


@import "variables";
@import "typography";
@import "elements";
@import "tutorials";
@import "header";
@import "layout";
@import "search";
@import "dark-theme";
@import "footer";
@import "faq";
@import "modal";
@import "form";
@import "cloudcannon";
