---
---

$primary-color: {{ site.primary_color | default: '#000' }};
$secondary-color: {{ site.secondary_color | default: '#EEE' }};
$dark-theme-primary-color: {{ site.dark_theme_primary_color | default: site.primary_color | default: '#111' }};
$dark-theme-secondary-color: {{ site.dark_theme_secondary_color | default: '#1e1e1e' }};

@import "variables";
@import "typography";
@import "utility";
@import "elements";
@import "package";
@import "header";
@import "layout";
@import "search";
@import "dark-theme";
@import "footer";
@import "faq";
@import "modal";
@import "form";
@import "card";
@import "alert";
@import "keyword";
